.progress-bar {
  border-radius: 0.25rem;
  background-color:var(--secondary);
  color: #000;
  height: rem(50);
  min-width:  rem(750);
  line-height: 0;

  &__content {
    width: 0;
    border-radius: 0.25rem;
    background-color:var(--primary);
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
    background-size: 1rem 1rem;
  }
}
