.awards {
    background: url('@img/bg/bg2.jpg') center/cover no-repeat;
    position: relative;
    z-index: 3;

    &__container {
        @include adaptiveValue("padding-top",128 ,60 );
        @include adaptiveValue("padding-bottom",128 , 60);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: rem(15);
        position: relative;
        z-index: 2;
    }

    &__block-awards {
        @include adaptiveValue("padding-top", 118.5, 15);
        @include adaptiveValue("padding-bottom", 118.5,15 );
        margin-right: 15px;
    }

    &__title-block {
        text-align: start;
        margin: rem(0) rem(0) rem(64) rem(0);
    }

    &__sub-title {
        @extend %spoon;
        align-items:start;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @include adaptiveValue("row-gap", 64, 16,0,1300,991);
        @include adaptiveValue("column-gap", 32, 16,0,1300,991);
    }

    &__img-block{
        position: relative;
       
    }

    &__img-ibg {
        width: 100%;
        height: 100%;
        max-width: rem(483);
        margin: 0 0 0 auto;
   
    }

    &__svg{
        position: absolute;
        bottom:  0;
        left: 102px;
        @include adaptiveValue("left", 102, 0,0,1300,991.98);
        z-index: 2;
        
        & path{
            fill: var(--inverse);
        }
        
    }
}

.award {
    display: flex;
    @include adaptiveValue("gap", 32, 12 );

    &__img {
        width:rem(79);
        height:rem(69);
    }

    &__info {
    }

    &__title {
        margin: rem(0) rem(0) rem(10) rem(0);
        color:var(--primary);
    }
}


 @media (max-width: $tablet) {
    .awards {
    
        &__container {
            display: flex;
            flex-direction: column;
            row-gap: rem(32);
        }
        &__img-ibg {
            margin: 0 0 0 0;
            max-width: 100%;
            min-height: rem(500);

            & img{
                object-fit:cover;
            }
        }
        &__img-block{
            flex: 1 1 100%;
            position: relative;
        }
    
    
        &__svg{
            max-height: 100%;
            max-width: 100%;
            & path{
                fill: var(--inverse);
            }
            
        }
}
 }

  @media (max-width: $mobileSmall) {
    .awards {
    &__items {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: rem(32);
    }
}
  }