<!-- //Varuant 1 Standart -->
<div class="options">
    <div class="options__item">
        <input hidden id="o_1" class="options__input" checked type="radio" value="1" name="option">
        <label for="o_1" class="options__label"><span class="options__text">Текст</span></label>
    </div>
    <div class="options__item">
        <input hidden id="o_2" class="options__input" type="radio" value="2" name="option">
        <label for="o_2" class="options__label"><span class="options__text">Текст</span></label>
    </div>
</div>

<!-- //Varuant 2  -->
<input class="radio-input" checked value="size-x-small" name="1" id="size-x-small" type="radio">
<label for="size-x-small">X-small
  <span>
    <svg viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
  </span>
</label>

