// Стилі для ripple ефекту
// Styles for ripple effect
// @import "/src/scss/base/ripple";

.button {
  font-family: 'Cormorant Upright', serif;
  background-color: var(--primary);
  color: var(--text-inverse);
  display: inline-block;
  width: fit-content;
  padding: rem(12) rem(32);
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:active {
    transform: translateY(4px);
  }

  &:hover {
    background-color: var(--secondary);
  }

  //   &__primary {
  //   }
  //   &__secondary {
  //   }
  //   &__inverse {
  //   }
  //   &__accent {
  //   }
}

 @media (max-width: $mobileSmall) {
  .button {
  width: 100%;
  }
 }