<div class="countdown" data-date="01-11-2023" data-time="24:00">
  <div class="countdown-inner">

    <div class="countdown-inner__circle-item circle-item ">
      
      <div class="circle-item__circle day">
        <h2 class="circle-item__number num"></h2>
        <p class="circle-item__text word"></p>
      </div>

      <div class="circle-item__circle hour">
        <h2 class="circle-item__number num"></h2>
        <p class="circle-item__text word"></p>
      </div>

      <div class="circle-item__circle min">
        <h2 class="circle-item__number num"></h2>
        <p class="circle-item__text word"></p>
      </div>

      <div class="circle-item__circle sec">
        <h2 class="circle-item__number num"></h2>
        <p class="circle-item__text word"></p>
      </div>
    </div>
  </div>
</div>