<input class="input" name="form[]" placeholder="" autocomplete="on" type="text">
<input class="input" name="form[]" placeholder="" autocomplete="on" type="email">
<input class="input" name="form[]" placeholder="" autocomplete="on" type="number">
<input class="input" name="form[]" placeholder="" autocomplete="on" type="password">
<input class="input" name="form[]" placeholder="" autocomplete="on" type="search">
<input class="input" name="form[]" placeholder="" autocomplete="on" type="tel">
<input class="input" name="form[]" placeholder="" autocomplete="on" type="file">

<textarea class="input" name="form[]" placeholder="" rows="4" cols="50">
    At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
</textarea>

<!-- для инпутов с маской -->
<input class="input" data-mask name="form[]" placeholder="" autocomplete="on" type="text">

<!-- для инпутов с паолдем который надо показать -->
<div class="password input">
    <input class="password__input input" type="password" placeholder="password">
    <button class="password__button" data-viewpass type="button">
        <svg class="password__icon" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
           >
            <path
                d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
    </button>
</div>