/*Fonts*/

// @import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/cormorant-upright?styles=20205,20206,20202');

                
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/bestermind');

%f1{
	font-family: 'Cormorant Upright', sans-serif;                                            
}
%f2{
	font-family: 'Open Sans', sans-serif;
}
%f3{
	font-family: 'Bestermind', sans-serif;
}

// Thin 100
// Light 300
// Regular 400
// Medium 500
// Bold 700
// Black 900


:root {
	// =================================================================
	--primary: 		#DCCA87; // Site main color - (Основний колір сайту)
	--secondary: 	#F5EFDB; // Site secondary color - (Додатковий колір сайту)
	--accent: 		#FFFFFF; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	--inverse:		 #FAFAFA; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)

	--success:		#198755 ;
	--error:		#DC3445;
	--warning:		#FEC107;

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: 	#0C0C0C; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #0C0C0C; // BG secondary background color - (Додатковий фоновий колір сайту)
	// --bg-accent: #FFFFFF; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	//  --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #AAAAAA; // Text primary text color - (Основний текстовий колір сайту)
	// --text-secondary: #FAFAFA; // Text secondary text color - (Додатковий текстовий колір сайту)
	// --text-accent: #e8eddf; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	 --text-inverse: #0C0C0C; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================


	--z-index--top 		:100;
	--z-index--section 	:50;
	--z-index--art 		:25
}


// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Open Sans', sans-serif;
$fontSize: rem(16); // де 14(px) - розмір шрифту за замовчуванням з макету
$line-height-base: 175%;
$letter-spacing: 0.64px;
$font-style: normal;
$font-weight: 400;
$mainColor: var(--text-primary); // Колір шрифту за замовчуванням

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1300;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;
// Site colors (Кольори сайту):
