<!-- https://slimselectjs.com/selects#single -->

<select id="slim-select" multiple>
    <optgroup label="Label 1">
        <option value="value 1" selected>Value 1</option>
        <option value="value 2">Value 2</option>
        <option value="value 3">Value 3</option>
      </optgroup>
      <optgroup label="Label 2">
        <option value="value 21">Value 1</option>
        <option value="value 22">Value 2</option>
        <option value="value 23">Value 3</option>
      </optgroup>
  </select>