<header class="header">
  <div class="header__container">
    <nav class="nav">
      <!--===============logo ===============-->
      <a href="#" class="nav__logo logo">
        <i class="logo__icon ri-planet-line"></i>
        Company
      </a>

      <!--=============== NAV MENU ===============-->
      <menu class="menu" id="nav-menu">

        <!--=============== TOP MENU ===============-->
        <ul class="menu__top-menu top-menu">
          <li class="menu__item top-menu__item">
            <a href="#" class="menu__link">Home</a>
          </li>

          <li class="menu__item top-menu__item">
            <a href="#" class="menu__link">Company</a>
          </li>

          <!--=============== DROPDOWN 1 ===============-->
          <li class="menu__item top-menu__item dropdown__item_chenger">
       
            <button class="menu__button menu__dropdown-button" type="button">
              Analytics
              <i class="ri-arrow-down-s-line dropdown__icon dropdown__icon_top-menu"></i>
            </button>

            <ul class="dropdown dropdown__menu">
              <li class="menu__item dropdown__item">
                <a href="#" class="menu__link">
                  <div class="dropdown__icon-box">
                    <i class="ri-pie-chart-line menu__icon"></i>
                    Overview
                  </div>
                </a>
              </li>

              <li class="menu__item dropdown__item">
                <a href="#" class="menu__link">
                  <div class="dropdown__icon-box">
                    <i class="ri-arrow-up-down-line menu__icon"></i>
                    Transactions
                  </div>
                </a>
              </li>

              <!--=============== DROPDOWN SUBMENU ===============-->
              <li class="menu__item dropdown__item submenu__item_chenger">
                <button class="menu__button menu__submenu-dropdown-button">
                  <div class="dropdown__icon-box">
                    <i class="ri-bar-chart-line"></i>
                    Reports
                  </div>
                  <i class="ri-arrow-down-s-line dropdown__icon dropdown__icon_submenu"></i>
                </button>

                <ul class="dropdown dropdown__submenu submenu">
                  <li class="menu__item dropdown__item submenu__item">
                    <a href="#" class="menu__link">
                      <div class="dropdown__icon-box">
                        <i class="ri-file-list-line menu__icon"></i>
                        Documents
                      </div>
                    </a>
                  </li>

                  <li class="menu__item dropdown__item submenu__item">
                    <a href="#" class="menu__link">
                      <div class="dropdown__icon-box">
                        <i class="ri-cash-line menu__icon"></i>
                        Payments
                      </div>
                    </a>
                  </li>

                  <li class="menu__item dropdown__item submenu__item">
                    <a href="#" class="menu__link">
                      <div class="dropdown__icon-box">
                        <i class="ri-refund-2-line menu__icon"></i>
                        Refunds
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="menu__item top-menu__item">
            <a href="#" class="menu__link">Products</a>
          </li>

          <!--=============== DROPDOWN 2 ===============-->
          <li class="menu__item top-menu__item dropdown__item_chenger">
        
            <button class="menu__button menu__dropdown-button" type="button">
              Users
              <i class="ri-arrow-down-s-line dropdown__icon dropdown__icon_top-menu"></i>
            </button>

            <ul class="dropdown dropdown__menu">
              <li class="menu__item dropdown__item">
                <a href="#" class="menu__link">
                  <div class="dropdown__icon-box">
                    <i class="ri-user-line menu__icon"></i>
                    Profiles
                  </div>
                </a>
              </li>

              <li class="menu__item dropdown__item">
                <a href="#" class="menu__link">
                  <div class="dropdown__icon-box">
                    <i class="ri-lock-line menu__icon"></i> Accounts
                  </div>
                </a>
              </li>

              <li class="menu__item dropdown__item">
                <a href="#" class="menu__link">
                  <div class="dropdown__icon-box">
                    <i class="ri-message-3-line menu__icon"></i> Messages
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="menu__item top-menu__item">
            <a href="#" class="menu__link">Contact</a>
          </li>
        </ul>
      </menu>

      <!--=============== burger menu ===============-->
      <button class="nav__icon-menu icon-menu" type="button">
        <span></span>
      </button>
    </nav>
  </div>
</header>