<!-- Это открыватель меню 
часто надо открфть меню к примеру хедер 
при этом заблочить прокрутуке и тд
этот компонент разрешает при нажатии на обект с дато меню айкон 
добавляет класс open_menu в Html и блочит прокрутку а при повторном нажатии уирает єто все
+ если подключить оверлей то работат  так же заливка фона и закрітие по нажатию по оверлею
удобно использовате везед где надо открыть меню на каком то обекте или же на разрешение экрана -->

<button type="button" data-menu-icon class="icon-menu"><i></i></button>

<!-- Бургер меню с анимацией -->
<button class="burger-menu" type="button" data-menu-icon ><span></span></button>