<!-- // теги подключать как и попапы после всей старнци
    data-snackbar-info="ok" = укахать результамт того что обозначет тег
    data-snackbar="ok" = дать этот артибут тому элементу где долже быть вызван снекбар -->

<!-- кнопка вызова -->
<button data-snackbar="OK" type="button" class="icon-menu"><span></span></button>

<!-- сам снек бар -->
<div data-snackbar-info="OK" class="snackbar">Ваш запрос отправлен</div>
<div data-snackbar-info="BAD" class="snackbar">Ошибка в заполнение</div>

<!-- пример с кнопокой закрітия  -->
<div data-snackbar-info="OK" class="snackbar">
    <button class="snackbar__close">&#10005</button>
    тут все ок
</div>