.footer {
  position: relative;

  &__container-width {
    position: relative;
  }

  &__button {
    position: absolute;
    content: "";
    top: rem(21);
    right: 0;
    color: var(--primary);
    @extend %f1;
    text-transform: uppercase;
    margin: rem(0) rem(15) rem(0) rem(0);
    z-index: 5;
    font-weight: 700;

    &::before {
      position: absolute;
      content: "";
      top: rem(-70);
      right: rem(15);
      width: 1px;
      height: 57px;
      background: radial-gradient(
        circle,
        rgba(220, 202, 135, 1) 0%,
        rgba(255, 255, 255, 0.24413515406162467) 92%
      );
    }
  }

  &__img {
    position: absolute;
    content: "";
    top: -170px;
    left: 0;
    width: 100%;
    height: 200%;
    object-fit: cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 128, 30);
    @include adaptiveValue("padding-bottom", 128, 30);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(15);
    padding: 0 rem(0) rem(64) rem(0);
  }

  &__rights {
    position: relative;
    text-align: center;
    padding: rem(16) rem(0);
    margin: 0 auto;
    z-index: 2;
  }
}
.contact-us-footer {
  text-align: center;
  // min-width: rem(305);

  &__title {
    margin-bottom: rem(24);
    color: var(--secondary);
  }

  &__addres {
    margin-bottom: rem(8);
  }

  &__phone {
  }
}
.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(438);
  text-align: center;
  @include adaptiveValue("margin-right", 50, 0, 0, 1300, 1000);

  &__logo {
    margin-bottom: rem(32);
  }

  &__text {
    color: var(--accent);
    margin-bottom: rem(16);
  }

  & svg {
    margin: rem(16) rem(0) rem(16) rem(0);
  }

  &__icons {
    display: flex;
    gap: rem(16);
  }

  &__icon {
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    // width: 24px;
    // height: 24px;
  }
}
.work-hours-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &__title {
    margin-bottom: rem(24);
    color: var(--secondary);
  }

  &__text {
    margin-bottom: rem(8);
  }
}

//////////////////////////////////////////////////////////////////////////////////////

@media (max-width: $mobile) {
  .footer {
    &__info {
      flex-direction: column;
      gap: rem(30);
    }
    &__button {
      top: rem(100);
    }
  }

  .contact-us-footer {
    order: 2;
  }
}

@media (max-width: $mobileSmall) {
  .footer {
    &__button {
      top: rem(470);
    }
  }
}
