
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-idex--top);
    
  
  }



// .sticky__content {
//   width: 100%;
//   height: 150px;
//   background-color:#ccc;
// }

